.header {
  width: 100%;
  height: 250px;
}
.header__top {
  padding-top: 30px;
  margin-top: 30px;
  font-size: 90px;
  background-image: image-url("head.jpeg");
  background-size: contain;
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 0 auto;
}
.header__top__regi {
  margin-top: -80px;
  display: flex;
  font-size: 30px;
  justify-content: flex-end;
}
.header__top__regi .item {
  margin-left: 20px;
  margin-right: 30px;
}
.header__top__regi .log_btn {
  text-decoration: none;
  color: white;
  text-align: right;
}

.cat {
  margin-top: -50px;
  margin-left: 90px;
  font-size: 30px;
  font-weight: bold;
}
.cat__btn {
  color: white;
  text-decoration: none;
  // width:150px;
  // height:70px;
  // background-color: white;
}

.top-img {
  padding-bottom: 50px;
}
