.wrap {
  max-width: 100%;
  height: 500px;
  text-align: center;
}
.wrap .bar {
  width: 300px;
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 20px;
}
.wrap .form {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.wrap .form__top {
  text-align: center;
}
.wrap .form__top__main__field {
  width: 200px;
  height: 30px;
  font-size: 15px;
}
.wrap .form__top__action {
  width: 100px;
  height: 50px;
}
.wrap .form__top__action__btn {
  width: 120px;
  height: 30px;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.postMovie {
  height: 100px;
  width: 100px;
  background-color: black;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 10px;
}
.postMovie .log_btn {
  color: white;
  text-decoration: none;
}
.postMovie__text {
  font-size: 30px;
  text-align: center;
}
.postMovie__icon {
  text-align: center;
}
.postMovie__icon .icon {
  font-size: 50px;
}
